<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Teknoloji Genc Yetenek Projesi - Mustafa Akgun</title>
  <meta name="description" content="Created with Ansible">
</head>
<body>
    <h5>Bu web server {{ who }} Tarafından hazırlanmıştır. Sunucu hostname'i : {{ hostname }} , Sunucu Ip adresi:{{ host_ip }} dir</h5>
</body>
</html>
